* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
  background-color: pink;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

ul {
  list-style-type: none;
}

.options {
  display: flex;
}

li {
  padding: 4px;
}

button {
  padding: 5px;
}
/* .dropdown select {
  position: relative;
}

.dropdown select:hover option{
  display: block;
} */
